<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auctions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /* Body Styles */
        body {
            background-color: #f8f9fa; /* Body background color */
            color: #343a40; /* Body text color */
            font-family: Arial, sans-serif; /* Body font family */
        }

        /* Navbar Brand */
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
            color: #ffffff; /* Navbar brand text color */
            transition: color 0.3s;
        }

            .navbar-brand:hover {
                color: #f8f9fa; /* Navbar brand hover color */
            }

        /* Navbar Links */
        .navbar-nav .nav-link {
            color: #ffffff; /* Navbar links text color */
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
            transition: color 0.3s;
        }

            .navbar-nav .nav-link:hover {
                color: #f8f9fa; /* Navbar links hover color */
            }

        /* Custom Navbar Styles */
        .navbar-custom {
            border-radius: 15px;
            background-color: #6c757d; /* Gray-ish background color */
            box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1); /* Bottom box-shadow */
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        /* Navbar Toggler Styles */
        .navbar-toggler-icon {
            color: #ffffff; /* Navbar toggler icon color */
        }

            .navbar-toggler-icon:hover {
                color: #f8f9fa; /* Navbar toggler icon hover color */
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Auctions</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Listings" asp-action="Index"><i class="fa fa-solid fa-house me-1"></i> Active Listings</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Listings" asp-action="Create"><i class="fa fa-solid fa-plus me-1"></i> Create Listing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Listings" asp-action="MyListings"><i class="fa fa-solid fa-newspaper me-1"></i> My Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Listings" asp-action="MyBids"><i class="fa fa-solid fa-sack-dollar me-1"></i> My Bids</a>
                            </li>
                        }
                        <li class="nav-item">
                            <form class="d-flex" asp-controller="Listings" asp-action="Index" method="get">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchString">
                                <button class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mb-4">
        <!-- Added margin-bottom -->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2023 - Auctions - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
